.fixedbutton {
  position: fixed;
  bottom: 5%;
  right: 4%;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  i{
    font-size: 25px;
    margin-top: 6px;
  }
}
