<button type="button" class="btn btn-primary my-2 fixedbutton" data-toggle="modal"
        data-target="#AddModel"><span>&plus;</span></button>

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <h3 class="nav-link text-light">Angular</h3>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <div class="form-group">
        <input type="text"name="search" [(ngModel)]="searchValue" (keyup)="search()" autocomplete="off" placeholder="Enter Serch Value" class="form-control mr-3" id="EmpName">
      </div>
    </form>
  </div>
</nav>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Company Name:</th>
      <th scope="col">First Name:</th>
      <th scope="col">Last Name:</th>
      <th scope="col">Email:</th>
      <th scope="col">Mobile No:</th>
      <th scope="col">Salary:</th>
      <th scope="col">City</th>
      <th scope="col">Block No:</th>
      <th scope="col">Current Address:</th>
      <th scope="col">Addhar No:</th>
      <th scope="col">PanCard No:</th>
      <th scope="col">Passbook No:</th>
      <th scope="col">Action</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let item of this.FilterEmployeeDetails">
      <th scope="row">{{item.id}}</th>
      <td>{{item.companyename}}</td>
      <td>{{item.Fname}}</td>
      <td>{{item.Lname}}</td>
      <td>{{item.email}}</td>
      <td>{{item.mobileno}}</td>
      <td>{{item.salary}}</td>
      <td>{{item.address.city}}</td>
      <td>{{item.address.blockno}}</td>
      <td>{{item.address.currentAddress}}</td>
      <td>{{item.personalDetails.addharno}}</td>
      <td>{{item.personalDetails.panno}}</td>
      <td>{{item.personalDetails.passbookno}}</td>
      <td>
        <button type="button" class="btn btn-success my-2 my" data-toggle="modal"
        data-target="#EditModel" (click)="filldatainedit(item)">Edit</button>
        <button class="btn btn-danger ml-3" (click)="deleteEmployee(item)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Vertically centered modal -->

<!-- Modal -->

<!-- Add Medel -->
<div class="modal fade" id="AddModel" tabindex="-1" aria-labelledby="EditModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Employe Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Company Name:</label>
            <input type="text" [(ngModel)]="AddEmoloyDetails.companyename" name="EmpName" class="form-control" id="EmpName">
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">First Name:</label>
            <input type="text" [(ngModel)]="AddEmoloyDetails.Fname" name="fname" class="form-control" id="Fname">
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">Last Name:</label>
            <input type="text" [(ngModel)]="AddEmoloyDetails.Lname" name="lname" class="form-control" id="Lname">
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">Email:</label>
            <input type="email" [(ngModel)]="AddEmoloyDetails.email" name="Email" class="form-control" id="Email"
              aria-describedby="emailHelp">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Mobile No:</label>
            <input type="text" [(ngModel)]="AddEmoloyDetails.mobileno" name="Mobileno" class="form-control" id="Mobileno">
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">Salary:</label>
            <input type="number" [(ngModel)]="AddEmoloyDetails.salary" name="salary" class="form-control" id="Salary">
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">City:</label>
            <input type="text" [(ngModel)]="AddEmoloyDetails.address.city" name="city" class="form-control" id="Salary">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Block No:</label>
            <input type="text" [(ngModel)]="AddEmoloyDetails.address.blockno" name="blockno" class="form-control" id="Salary">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Current Address:</label>
            <input type="text" [(ngModel)]="AddEmoloyDetails.address.currentAddress" name="currentAddress" class="form-control" id="Salary">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Addhar No:</label>
            <input type="text" [(ngModel)]="AddEmoloyDetails.personalDetails.addharno" name="currentAddress" class="form-control" id="Salary">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Pancard No:</label>
            <input type="text" [(ngModel)]="AddEmoloyDetails.personalDetails.panno" name="currentAddress" class="form-control" id="Salary">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">PassBook No:</label>
            <input type="text" [(ngModel)]="AddEmoloyDetails.personalDetails.passbookno" name="currentAddress" class="form-control" id="Salary">
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="savedata()">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Edit Medel -->
<div class="modal fade" id="EditModel" tabindex="-1" aria-labelledby="AddModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabeldf">Edit Employe Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="editEmoloyDetails && editEmoloyDetails.companyename">

          <div class="form-group">
            <label for="exampleInputEmail1">Employe Name:</label>
            <input type="text" [(ngModel)]="editEmoloyDetails.companyename" name="EmpName" class="form-control">
          </div>

          <div class="form-group">
            <label for="exampleInputPassjhword1">First Name:</label>
            <input type="text" [(ngModel)]="editEmoloyDetails.Fname" name="fname" class="form-control" id="Fname">
          </div>

          <div class="form-group">
            <label for="exampleInputPassffword1">Last Name:</label>
            <input type="text" [(ngModel)]="editEmoloyDetails.Lname" name="lname" class="form-control" id="Lname">
          </div>

          <div class="form-group">
            <label for="exampleInputPafssword1">Email:</label>
            <input type="email" [(ngModel)]="editEmoloyDetails.email" name="Email" class="form-control" id="Email"
              aria-describedby="emailHelp">
          </div>

          <div class="form-group">
            <label for="exampleInputPadssword1">Mobile No:</label>
            <input type="mobile" [(ngModel)]="editEmoloyDetails.mobileno" name="Mobileno" class="form-control" id="Mobileno">
          </div>

          <div class="form-group">
            <label for="exampleInputPasserword1">Salary:</label>
            <input type="number" [(ngModel)]="editEmoloyDetails.salary" name="salary" class="form-control" id="Salary">
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">City:</label>
            <input type="text" [(ngModel)]="editEmoloyDetails.address.city" name="city" class="form-control" id="Salary">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Block No:</label>
            <input type="text" [(ngModel)]="editEmoloyDetails.address.blockno" name="blockno" class="form-control" id="Salary">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Current Address:</label>
            <input type="text" [(ngModel)]="editEmoloyDetails.address.currentAddress" name="currentAddress" class="form-control" id="Salary">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Addhar No:</label>
            <input type="text" [(ngModel)]="editEmoloyDetails.personalDetails.addharno" name="currentAddress" class="form-control" id="Salary">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Pancard No:</label>
            <input type="text" [(ngModel)]="editEmoloyDetails.personalDetails.panno" name="currentAddress" class="form-control" id="Salary">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">PassBook No:</label>
            <input type="text" [(ngModel)]="editEmoloyDetails.personalDetails.passbookno" name="currentAddress" class="form-control" id="Salary">
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="editData()">Save</button>
      </div>
    </div>
  </div>
</div>
